/* GENERAL STYLE RULES*/

@import url('http://fonts.cdnfonts.com/css/roboto');

html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    background: linear-gradient(120deg, rgba(255,255,255,1) 0%, rgb(192, 192, 192) 100%);
    background-attachment:fixed;
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height:100vh;
}

h1 {
    padding: 0;
    margin: 0;
}

p {
    margin: 0;
    padding: 0;
}

sup {
    font-size: 10pt;
}

button {
    font-size: 15pt;
    color: white;
    background: #09141b;
    opacity: 100%;
    border-radius: 0.7em;
    border-style: none;
    cursor: pointer;
}

button:hover {
    background: #0d1f2b;
}

button:active {
    background: black;
}







/* GENERAL CALCULATOR STYLING*/

#container {
    background: linear-gradient(120deg, #3d3d3d 0%, #1f1f1f 100%);
    color: white;
    width: 25em;
    height: 37.5em;
    display: flex;
    padding: 3em 1.5em 3em 1.5em;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 1.7em;
}

#calculations, #buttonContainer {
    flex: auto;
}








/* SWITCH BUTTON STYLING */

#switchContainer {
    flex: 0.06 1 auto;
    display: flex;
    justify-content: center;
}

#switch {
    flex: 0.25 0 auto;
    border: 2px solid white;
    display: flex;
    justify-content: flex-start;
    border-radius: 500px;
    cursor: pointer;
}

#switchSelectionDiv {
    background: white;
    flex: 0.55 0 0;
    border-radius: 500px;
}

#darkModeIcon {
    position: absolute;
    margin-left: 0.9em;
    margin-top: 0.3em;
    height: 1em;
    order: 2
}

#lightModeIcon {
    position: absolute;
    margin-left: 3.5em;
    margin-top: 0.3em;
    height: 1em;
    order: 2;
}








/* CALCULATIONS STYLING */

#calculations {
    flex: 0.32 1 0;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    cursor: default;
}

#numbers {
    text-align: right;
}

#equals {
    font-size: 20pt;
    margin-left: 0.8em;
}

#numbers p {
    font-size: 14pt;
    opacity: 50%;
}

#numbers p h1 {
    font-size: 25pt;
}








/* BUTTON GRID STYLING*/

#buttonContainer {
    flex: 0.6 1 0;
}

#buttonContainer {
    display: grid;
    grid-template-columns: repeat(5, minmax(0, 1fr));
    grid-template-rows: repeat(4, minmax(0, 1fr));
    padding-top: 6em;
    column-gap: 0.8em;
    row-gap: 1em;
    clip-path: url(#waveLight);
}

.specialButton {
    background: white;
    color: #09141b;
}

.specialButton:hover{
    background: #deeef8;
}

.specialButton:active {
    background: #c8d7e0;
}

#delIcon {
    margin-left: -0.2em;
    margin-top: 0.2em;
}








/* WAVES STYLING    */
#waveLight {
    position: absolute;
    margin-left: -1.5em;
    margin-top: 10em;
    width: 25em;
    height: 25em;
    clip-path: url(#buttonContainer);
}

#waveDark {
    position: absolute;
    margin-left: -1.5em;
    margin-top: 10.5em;
    width: 25em;
    height: 25em;
    clip-path: url(#buttonContainer);
}