/* GENERAL STYLE RULES*/

@import url('http://fonts.cdnfonts.com/css/roboto');

html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    background: linear-gradient(120deg, #ffffff 0%, #c0c0c0 100%);
    background-attachment:fixed;
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height:100vh;
    color: black;
}


body.dark {
    background: linear-gradient(120deg, #3d3d3d 0%, #1f1f1f 100%);
    color: white;
}


h1 {
    padding: 0;
    margin: 0;
}

p {
    margin: 0;
    padding: 0;
}

#copyright {
    opacity: 20%;
    font-size: 10pt;    
    margin-top: 25pt;
}

#copyright.dark

sup {
    font-size: 10pt;
}

button {
    font-size: 15pt;
    color: white;
    background: #09141b;
    opacity: 100%;
    border-radius: 0.7em;
    border-style: none;
    cursor: pointer;
}

button:hover {
    color: #09141b;
    background: white;

}

.darkButton {
    color: #09141b;
    background: white;
    opacity: 100%;
}

.darkButton:hover {
    color: white;
    background: #09141b;
}







/* GENERAL CALCULATOR STYLING*/

#container {
    background: linear-gradient(120deg, #3d3d3d 0%, #1f1f1f 100%);
    color: white;
    width: 25em;
    height: 37.5em;
    display: flex;
    padding: 2.8em 1.5em 3em 1.5em;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 1.7em;
}

#container.dark {
    background: linear-gradient(120deg, rgba(255,255,255,1) 0%, rgb(192, 192, 192) 100%);
    color: #09141b;
}

#calculations, #buttonContainer {
    flex: auto;
}








/* SWITCH BUTTON STYLING */

#switchContainer {
    flex: 0.03 1 auto;
    display: flex;
    justify-content: center;
}

#switch {
    flex: 0.25 0 auto;
    border: 2px solid white;
    display: flex;
    justify-content: flex-start;
    border-radius: 500px;
    cursor: pointer;
}

#switchSelectionDiv {
    background: white;
    flex: 0.55 0 0;
    border-radius: 500px;
}

.checkbox {
    display: none;
    position: absolute;
}

.checkbox:checked + #label #ball{
    left: 52%;
}

#darkModeIcon {
    height: 1.2em;
    margin-right: 0.01em;
}

#lightModeIcon {
    height: 1.2em;
    margin-left: 0.01em;
}

#label {
    flex: 0.01 0 auto;
    border: 2px solid white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 500px;
    cursor: pointer;
    position: relative;
}

#label.dark {
    border: 2px solid #09141b;
}

#ball {
    background: #fff;
    border-radius: 500px;
    position: absolute;
    top: 0em;
    left: 0em;
    height: 100%;
    width: 3em;
    transition: 0.1s linear;
}

#ball.dark {
    background: #09141b;
}





/* CALCULATIONS STYLING */

#calculations {
    flex: 0.25 1 0;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    cursor: default;
}

#numbers {
    text-align: right;
}

#equals {
    font-size: 20pt;
    margin-left: 0.8em;
}

#numbers p {
    font-size: 14pt;
    opacity: 50%;
}

#numbers p h1 {
    font-size: 25pt;
}








/* BUTTON GRID STYLING*/

#buttonContainer {
    flex: 0.6 1 0;
}

#buttonContainer {
    display: grid;
    grid-template-columns: repeat(5, minmax(0, 1fr));
    grid-template-rows: repeat(4, minmax(0, 1fr));
    padding-top: 6em;
    column-gap: 0.8em;
    row-gap: 1em;
    clip-path: url(#waveLight);
    cursor: pointer;
}

.specialButton {
    background: white;
    color: #09141b;
}

.specialButton:hover{
    background: #09141b;
    color: white;
}

.specialDarkButton {
    background: #09141b;
    color: white;
}

.specialDarkButton:hover {
    background: white;
    color: #09141b;
}







/* WAVES STYLING    */
#waveLight {
    position: absolute;
    margin-left: -1.5em;
    margin-top: 10em;
    width: 25em;
    height: 25em;
    clip-path: url(#buttonContainer);
}

#waveDark {
    position: absolute;
    margin-left: -1.5em;
    margin-top: 10.5em;
    width: 25em;
    height: 25em;
    clip-path: url(#buttonContainer);
}

button {
    transition: 0.05s linear;
}